/* button styling */
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    width: 100px;
    height: 100px;
    background-color: #00ccff;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen {
    width: 100px;
    height: 100px;
    background-color: #e5ff00;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#nineteen, #twenty, #twentyone, #twentytwo, #twentythree, #twentyfour, #twentyfive, #twentysix, #twentyseven {
    width: 100px;
    height: 100px;
    background-color: #b700ff;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#twentyeight, #twentynine, #thirty, #thirtyone, #thirtytwo, #thirtythree, #thirtyfour, #thirtyfive, #thirtysix {
    width: 100px;
    height: 100px;
    background-color: #3cff00;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#thirtyseven, #thirtyeight, #thirtynine, #forty, #fortyone, #fortytwo, #fortythree, #fortyfour, #fortyfive {
    width: 100px;
    height: 100px;
    background-color: #00ffb3;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#fortysix, #fortyseven, #fortyeight, #fortynine, #fifty, #fiftyone, #fiftytwo, #fiftythree, #fiftyfour {
    width: 100px;
    height: 100px;
    background-color: #ff9100;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#fiftyfive, #fiftysix, #fiftyseven, #fiftyeight, #fiftynine, #sixty, #sixtyone, #sixtytwo, #sixtythree {
    width: 100px;
    height: 100px;
    background-color: #ff44b7;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#sixtyfour, #sixtyfive, #sixtysix, #sixtyseven, #sixtyeight, #sixtynine, #seventy, #seventyone, #seventytwo {
    width: 100px;
    height: 100px;
    background-color: #833d0f;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
#seventythree, #seventyfour, #seventyfive, #seventysix, #seventyseven, #seventyeight, #seventynine, #eighty, #eightyone {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: justify;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}

#reset {
    /* width: 50px;
    height: 50px; */
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    background-color: #ff0000;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}