
#box {
    width:fit-content;
    height:fit-content;
    background-color: #ff0000;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    padding: 15px 32px;
    /* display: inline-block; */
    margin: auto;
    cursor: pointer;
    border-color: #ffffff;
    justify-content: center;
    
}

#reset {
    width:fit-content;
    height:fit-content;
    background-color: #ff0000;
    border-bottom: 10px solid;
    border-right: 10px solid;
    border-top: 10px solid;
    border-left: 10px solid;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    padding: 15px 32px;
    /* display: inline-block; */
    margin: auto;
    cursor: pointer;
    border-color: #ffffff;
    justify-content: center;
}

#title  {
    font-size:xxx-large;
    color: #ffffff;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

#body   {
    font-size: x-large;
    color: blue;
    text-align: center;
    text-shadow: black;
    margin-top: auto;
    justify-content: center;
    
}

#x  {
    width: 50px;
    height: 50px;
    /* position: relative; */
    position: static;
    /* bottom: auto; */
    bottom: 0;
}